<div class="contenedor">
  <div *ngIf="valor1">
    <h1>Texto1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facilis nisi ducimus, reprehenderit repudiandae, accusamus totam recusandae omnis tenetur quod ea, sint sed. Nihil minus molestias ex, nostrum dolor explicabo!
    </p>
  </div>
</div>

<div class="contenedor">
  <div  *ngIf="valor2 ; else otroTexto">
    <h1>Texto2</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facilis nisi ducimus, reprehenderit repudiandae, accusamus totam recusandae omnis tenetur quod ea, sint sed. Nihil minus molestias ex, nostrum dolor explicabo!
    </p>
  </div>
  <ng-template #otroTexto>
    <h1>OTRO TEXTO</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, vel!</p>
  </ng-template>
  
</div>

<hr>

<button (click)="valor1 = true"> Texto1</button>
<button (click)="valor2 = !valor2">Texto2</button>

<hr>

<p>Valor1 : {{valor1}}</p>
<p>Valor2: {{valor2}}</p>